@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .navbar-item-active {
    @apply  fill-white text-7xl;
  }

  .navbar-item {
    @apply fill-[#BB0707] group-hover:fill-white text-7xl;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  transition: .3s linear;
  /*Tat ca cac phan tu css transition 2s*/
}
::-webkit-scrollbar{
  width:10px;
}
::-webkit-scrollbar-thumb{
  /* width:20px; */
  background-color: #F5AF11;
  border-radius: 10px;
  border-top: 30px;
}